---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base-layout.astro";

import "../styles/main.css";
---

<BaseLayout>
  <Header />
  <main>
    <h1>Heading 1 - The quick brown fox jumps over the lazy dog</h1>

    <hr />

    <h2>Heading 2 - The quick brown fox jumps over the lazy dog</h2>

    <hr />

    <h3>Heading 3 - The quick brown fox jumps over the lazy dog</h3>

    <hr />

    <p>
      Body - Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
      hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
      dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet
      viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh.
      Nullam mollis. Ut justo. Suspendisse potenti.Sed egestas, ante et
      vulputate volutpat, eros pede semper est, vitae luctus metus libero eu
      augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id,
      est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at
      felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod
      dui, eu pulvinar nun. Lorem ipsum dolor sit amet, consectetuer adipiscing
      elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi
      neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
      sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc
      tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
    </p>

    <hr />

    <div class="flex flex-col gap-4">
      <div class="bg-baltic">
        <button class="btn-on-dark focus-on-dark">Learn More</button>
      </div>

      <div class="bg-athens-grey">
        <a href="#" class="btn-on-light focus-on-light">Learn More</a>
      </div>
    </div>
    <hr />

    <label class="form-label">Empty Form</label>

    <hr />

    <span class="form-error">Can't be empty</span>

    <hr />

    <div class="flex flex-row gap-4">
      <div class="h-[10rem] w-[10rem] border bg-peach">
        Peach <br /> #E7816B
      </div>
      <div class="h-[10rem] w-[10rem] border bg-baltic text-white">
        Baltic <br /> #1D1C1E
      </div>
      <div class="h-[10rem] w-[10rem] border bg-white">White <br />#FFFFFF</div>
    </div>
    <div class="mt-4 flex flex-row gap-4">
      <div class="h-[10rem] w-[10rem] border bg-mona-lisa">
        Mona Lisa <br /> #FFAD9B
      </div>
      <div class="h-[10rem] w-[10rem] border bg-ship-grey text-white">
        Ship Grey <br /> #333136
      </div>
      <div class="h-[10rem] w-[10rem] border bg-athens-grey">
        Athens Grey
        <br />
        #F1F3F5
      </div>
    </div>
  </main>
  <Footer />
</BaseLayout>

<style></style>
